/* now we will create the basic settings for the website, later on we will create a custom css template with this basic settings */

/* first of all we will create the basic settings for the website */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* now we will create css variables for the feature use */
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --tertiary-color: #000000;
}
